body {
    background-color: #ffe4e1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 20px 0; 
    box-sizing: border-box; 
}


.espacio-arriba,
.espacio-abajo {
    display: block;
    padding: 10px;
}

.content {
    width: 100%;
    max-width: 400px;
}

.ficha {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    padding: 3%;
    margin: 40px 0; 
}


.foto img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.desc {
    padding: 15px;
}

.texto {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.categoria {
    font-weight: bold;
    color: #333;
    display: inline-block;
    width: 40%;
}

.info,
#edad {
    display: inline-block;
    width: 58%;
    margin-bottom: 10px;
    color: #666;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .ficha {
        width: 100%;
        margin: 20px;
    }
}
