body {
    background-color: #ffe4e1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.espacio-arriba {
    display: block;
    padding: 1px;
}

.ficha {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    padding: 3%;
    margin-top: 10px;
    margin-top: 20px; 
}

.foto img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.desc {
    padding: 15px;
}

.texto {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.categoria {
    font-weight: bold;
    color: #333;
    display: inline-block;
    width: 40%;
}

.info {
    display: inline-block;
    width: 58%;
    margin: 0 0 10px 0;
    color: #666;
    word-wrap: break-word;
}

.espacio-abajo {
    display: block;
    padding: 10px;
}

#edad {
    color: #666;
    display: inline-block;
    width: 58%;
    margin: 0 0 10px 0;
}

@media (max-width: 600px) {
    .ficha {
        width: 100%;
        margin: 20px;
    }
}
